/* CUSTOM PROPERTIES
---------------------------- */

:root {
  --color-light-blue: #38cfd9;
  --color-blue: #23424a;
  --color-black: #000000;
  --color-white: #ffffff;
  --font-family: "Times New Roman", Times, serif;
}

/* GLOBAL STYLES
----------------------------------- */
body {
  margin: 0;
}

.first-container {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 50px;
  min-width: 600px;
}

.second-container {
  display: flex;
  padding: 0 25px;
  gap: 10px;
  margin: 35px 0;
}

.third-container {
  display: flex;
  background-color: var(--color-light-blue);
  padding: 25px;
}

.flex-container {
  text-align: center;
}

.top {
  font-size: 30px;
  width: 50%;
}

.bottom {
  margin-bottom: 50px;
  width: 50%;
}

a {
  background-color: #38cfd9;
  color: var(--color-black);
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
}
