/* CUSTOM PROPERTIES
---------------------------- */

:root {
  --color-light-blue: #38cfd9;
  --color-blue: #23424a;
  --color-black: #000000;
  --color-white: #ffffff;
  --font-family: "Times New Roman", Times, serif;
}

/* GLOBAL STYLES
----------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.first-container {
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 50px;
  min-width: 800px;
}

img {
  width: 50%;
  align-self: flex-start;
  margin-right: 55px;
}

.second-container {
  max-width: 60%;
  margin-left: 0px;
}

.second-header {
  color: var(--color-blue);
}

.third-container {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  background-color: var(--color-blue);
  width: 70%;
  padding: 0 25px;
  gap: 10px;
  margin-top: 20px;
  margin-left: 50px;
}

.main-container {
  display: flex;
}

.flex-container {
  display: flex;
  text-align: center;
}

.top,
.bottom {
  width: 100%;
}
.top {
  font-size: 30px;
  width: 50%;
}

.bottom {
  margin-bottom: 50px;
  width: 50%;
}

a {
  display: inline-block;
  background-color: #38cfd9;
  color: var(--color-blue);
  font-weight: 900;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}
