/* CUSTOM PROPERTIES
---------------------------- */

:root {
  --color-light-blue: #38cfd9;
  --color-blue: #23424a;
  --color-deem: #3d606f;
  --color-black: #000000;
  --color-white: #ffffff;
}

/* GLOBAL STYLES
----------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.3rem;
}

.nav {
  background-color: var(--color-deem);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.logo {
  width: 80px;
  margin-top: 7px;
}

.nav-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.second-list {
  margin-right: 100px;
}

.nav-list a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
}

.nav-item {
  color: var(--color-white);
}

ul {
  margin: 0;
}

.sign-up {
  color: var(--color-blue);
  background-color: var(--color-white);
  border-radius: 25px;
}

.sign-up:hover,
.sign-up:focus {
  opacity: 0.75;
}

.first-container {
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 50px;
  min-width: 500px;
}

img {
  width: 90%;
  align-self: flex-start;
  margin-right: 90px;
}

.second-container {
  max-width: 55%;
  margin-left: 40px;
}

.second-header {
  color: var(--color-blue);
  font-size: 35px;
}

.third-container {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  background-color: var(--color-blue);
  width: 70%;
  padding: 0 25px;
  gap: 10px;
  margin-top: 20px;
  margin-left: 50px;
  justify-content: space-between;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  text-align: center;
}

header p {
  width: 70%;
}

.top {
  font-size: 40px;
  font-weight: 900;
}

.bottom {
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  background-color: #38cfd9;
  color: var(--color-blue);
  font-weight: 900;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}
